<template>
  <footer class="footer">
    <div class="footer__container">
      <div class="footer__top">
        <div class="footer__top-title">
          Aceptamos
        </div>
        <ul class="footer__pay-list">
          <li
            class="footer__pay-item"
            v-for="(payment,index) in payments"
            :key="index"
          >
            <img
              :src="require(`@/assets/image/pay/${payment}`)"
              alt="social">
          </li>
        </ul>
      </div>
      <div class="footer__bottom">
        <ul class="footer__socials-list">
          <li class="footer__socials-item"
              v-for="(socialsItem, index) in socialsList.slice(0, 4)"
              :key="index"
          >
            <a
              class="footer__pay-link"
              :href=socialsItem.url
            >
              <img :src="require(`@/assets/image/socials/${socialsItem.src}`)" alt="">
            </a>
          </li>
        </ul>
        <ul class="footer__socials-list">
          <li class="footer__socials-item"
              v-for="(socialsItem, index) in socialsList.slice(3)"
              :key="index"
          >
            <a
              class="footer__pay-link"
              :href=socialsItem.url
            >
              <img :src="require(`@/assets/image/socials/${socialsItem.src}`)" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</template>
<script>
export default {
  name: 'Footer',
  data() {
    return {
      payments: [
        'visa.svg', 'master.svg', 'nequi.svg', 'yappy.svg',
      ],
      socialsList: [
        {
          src: 'f.svg',
          url: 'www.instagram.ru',
        },
        {
          src: 'inst.svg',
          url: '#',
        },
        {
          src: 'twit.svg',
          url: '#',
        },
        {
          src: 'whats.svg',
          url: 'www.instagram.ru',
        },
        {
          src: 'whats.svg',
          url: 'www.instagram.ru',
        },
      ]
    }
  }

}
</script>
<style scoped lang="scss">
.footer {
  background-color: #171717;
  padding: 65px 0 105px 0;

  &__top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: 3px solid #FFFFFF;
  }

  &__top-title {
    font-family: 'Nova Square';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 36px;
    padding-left: 22px;
  }

  &__pay-list {
    display: flex;
    margin-bottom: 74px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 37px;
  }

  &__socials-list {
    display: flex;
  }

  &__socials-item {
    margin-right: 5px;
  }
}
</style>
