<template>
  <header class="header">
    <div class="header__container">
      <div class="header__logo">
        <NuxtLink to="/">
        <img
          :src="require(`@/assets/image/${headerLogo}`)"
          alt="logo"
        >
          </NuxtLink>
      </div>
      <nav class="header__list">
        <NuxtLink
          class="header__item"
          :to=headerItem.url
          v-for="(headerItem, index) in headerList"
          :key="index"
        >
          {{ headerItem.name }}
        </NuxtLink>

      </nav>
    </div>
  </header>
</template>
<script>
export default {
  name: 'Header',
  data() {
    return {
      headerLogo: 'logo.svg',
      headerList: [
        {
          name: 'Главная',
          url: '/'
        },
        {
          name: 'Продукты',
          url: '/products'
        },
        {
          name: 'Услуги',
          url: '#'
        },
      ]
    }
  }
}
</script>
<style scoped lang="scss">
.header {
  background-color: #171717;
  padding: 15px 0 11.5px 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
  }

  &__list {
    display: flex;
  }

  &__item {
    margin-right: 50px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;

    &:hover {
      color: #90A3A6;
    }
  }
}
</style>
