<template>
  <section class="frame">
    <div class="frame__container">
      <div class="frame__wrapper">
        <img
          class="frame__image"
          :src="require(`@/assets/image/${frameImg}`)"
          alt="frame"
        >
      </div>
    </div>
  </section>
</template>
<script>
export default {
  name: 'Frame',
  data() {
    return {
      frameImg: 'Frame.png'
    }
  }
}
</script>
<style scoped lang="scss">
.frame {
  background-color: #DDDDDD;
  padding: 40px 0 77px 0;

  &__container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__wrapper {
    width: 100%;
  }

  &__image {
    display: block;
    height: 100%;
    width: 100%;
  }
}
</style>
