<template>
  <section class="products">
    <div class="products__container">
      <div class="products__button">
        <NuxtLink to="/products">
          <Button>
            Продукты
          </Button>
        </NuxtLink>
      </div>
      <div class="products__list">

        <div
          class="products__item product"
          v-for="user in users"
          :key="user.id"
        >
          <NuxtLink to="/users">
          <div class="product__wrapper">
            <img
              class="product__image"
              :src="`${user.url}`"
              alt="product"
            >
          </div>
          <div class="product__body">
            <div class="product__name">
              {{ user.title }}
            </div>
            <div class="product__price">
              {{ user.id }}
            </div>
          </div>
          </NuxtLink>
        </div>

      </div>

      <div class="product__button-more">
        <a class="button__content" href="#">
          Ver más
        </a>
      </div>
    </div>
  </section>
</template>
<script>
import Button from '@/components/common/Button'

export default {
  name: 'Products',
  components: {
    Button
  },
  async fetch() {
      await this.$store.dispatch('users/fetch')
  },
  data() {
    return {
      // productsList: [
      //   {
      //     id: 0,
      //     name: 'CREMA DE PELO',
      //     src_image: 'shampoo.png',
      //     price: '5.96',
      //   },
      //   {
      //     id: 1,
      //     name: 'CREMA DE PELO',
      //     src_image: 'shampoo.png',
      //     price: '5.96',
      //   },
      //   {
      //     id: 2,
      //     name: 'CREMA DE PELO',
      //     src_image: 'shampoo.png',
      //     price: '5.96',
      //   },
      //   {
      //     id: 3,
      //     name: 'CREMA DE PELO',
      //     src_image: 'shampoo.png',
      //     price: '5.96',
      //   },
      //   {
      //     id: 4,
      //     name: 'CREMA DE PELO',
      //     src_image: 'shampoo.png',
      //     price: '5.96',
      //   },
      //   {
      //     id: 5,
      //     name: 'CREMA DE PELO',
      //     src_image: 'shampoo.png',
      //     price: '5.96',
      //   },
      //   {
      //     id: 6,
      //     name: 'CREMA DE PELO',
      //     src_image: 'shampoo.png',
      //     price: '5.96',
      //   },
      //   {
      //     id: 7,
      //     name: 'CREMA DE PELO',
      //     src_image: 'shampoo.png',
      //     price: '5.96',
      //   },
      // ]
    }
  },
  computed: {
    users() {
      return this.$store.state.users.users
    }
  }
}
</script>
<style scoped lang="scss">
.products {
  background-color: #FFFFFF;
  padding: 32px 0 26px 0;

  &__container{
    display: flex;
    flex-direction: column;
  }

  &__button{
    margin-bottom: 60px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 48px 13px;
  }
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__wrapper {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
  }

  &__image {
    display: block;
    height: 100%;
    width: 100%;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__name {
    font-family: 'Nova Square';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
  }

  &__button-more{
    align-self: flex-end;
    display: inline-block;

  }
}

.button__content{
  display: inline-block;
  padding: 15px 65px 15px 65px;
  background: #06344F;
  border-radius: 20px;

  font-family: 'Nova Square';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;

  transition: background-color .1s ease;
}
</style>
