<template>
  <section class="services">
    <div class="services__container">
      <Button
        class="services__button"
      >
        Сервисы
      </Button>

      <div class="services__items">
        <div
          class="services__item"
          v-for="item in items"
          :key="item.src"
        >
          <div class="services__wrapper">
            <img
              class="services__image"
              :src="require(`@/assets/image/items_services/${item.src}`)"
              alt="image">
          </div>
          <div class="services__title">
            {{ item.title }}
          </div>
        </div>
      </div>

    </div>
  </section>
</template>
<script>
import Button from '@/components/common/Button'

export default {
  name: 'Services',
  components: {
    Button
  },
  data() {
    return {
      items: [
        {
          src: '8.png',
          title: 'A tu estilo',
        },
        {
          src: '8.png',
          title: 'A tu estilo',
        },
        {
          src: '8.png',
          title: 'A tu estilo',
        },
        {
          src: '8.png',
          title: 'A tu estilo',
        },
        {
          src: '8.png',
          title: 'A tu estilo',
        },
        {
          src: '8.png',
          title: 'A tu estilo',
        },
        {
          src: '8.png',
          title: 'A tu estilo',
        },
        {
          src: '8.png',
          title: 'A tu estilo',
        },
      ],
    }
  },

}
</script>
<style scoped lang="scss">
.services {
  padding: 32px 0 78px 0;
  background: linear-gradient(rgba(88, 86, 103, 0.5), rgba(88, 86, 103, 0.5)), center / cover no-repeat url("@/assets/image/bg_services.png");


  &__container {

  }

  &__button {
    margin-bottom: 100px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 29px;
  }

  &__item {
    position: relative;
  }

  &__wrapper {

  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
  }

  &__title{
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: 'Nova Square';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
  }
}

</style>
