<template>
    <div class="button-primary">
      <slot></slot>
    </div>
</template>
<script>
export default {
  name: 'Button',
}
</script>
<style scoped lang="scss">
.button-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 10px 0;
  background-color: #000000;
  font-family: 'Nova Square';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
</style>
