<template>
  <section>
    <Product-page/>
    <h1>Пользователь</h1>
  </section>
</template>
<script>
import Product from '@/components/product/Product-page'
export default {
  validate({params}) {
    return /^\d+$/.test(params.id)
  }
}
</script>
