<template>
  <section>
<!--    <Product-page/>-->
    <h1>{{this.pageTitle}}</h1>
    <ul>
      <li
        v-for="user in users "
        :key="user"
      >
        <a href="#"
           @click.prevent="openUser(user)"
        >User {{ user.name }}</a>
      </li>
    </ul>
  </section>
</template>
<script>
export default {
  async fetch() {
      await this.$store.dispatch('users/fetch')
  },
  data: () => ({
    pageTitle: 'Пользователи',
  }),
  computed: {
    users ()  {
      return this.$store.getters['users/users']
    }
  },
  methods: {
    openUser(user) {
      this.$router.push('/users/' + user.id)
    }
  }
}
</script>
