<template>
  <div>
    <Header/>
    <main>
      <nuxt/>
    </main>
    <Footer/>
  </div>

</template>
<script>
import Header from '@/components/layout/Header'

import Footer from '@/components/layout/Footer'

export default {
  name: 'default',
  components: {
    Header, Footer
  }
}
</script>
