<template>
<section class="product-page">
  <div class="product-page__container">
    <div class="product-page__content">
      <div class="product-page__wrapper">

      </div>
      </div>
    <div class="product-page__desc">
      {{ user.title }}
  </div>


</div>
</section>
</template>
<script>
export default {
  name: 'Product',
  computed: {
    users() {
      return this.$store.state.users.users
    }
  }
}
</script>
