<template>
<div>
  <Frame/>
  <Products/>
  <Services/>
</div>
</template>

<script>
import Frame from '@/components/home/Frame'
import Products from '@/components/home/Products'
import Services from '@/components/home/Services'
export default {
  name: 'IndexPage',
  components: {
     Frame, Products, Services
  }
}
</script>
