<template>
  <section>
<h1>About page</h1>
    <Products/>
  </section>
</template>
<script>
import Products from "../components/home/Products.vue";
export default {
name: 'about',
  components: {Products},
}
</script>
